*,
*::after,
*::before
ul,
li,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #fcf4e9;
  font-family: Mazzard Soft H;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}

.body-top {
  background-image: url('../img/bgbody_top.jpg'), url('../img/bgbody_bottom.jpg');
  background-repeat: no-repeat;
  background-position: top center, bottom center;
}

.white-fon {
  max-width: 1450px;
  background-color: #fff;
  margin: 0 auto;
}