$font-rich: 'Oregano', cursive;
$color-555: #555;
$color-black: #000;
$color-white: #fff;
$color-bac:#bac34e;
$color-bg:#fcf4e9;
$color-f4: #f4f4f4;
$color-aaa: #aaa;
$color-e8f8: #e8f8f7;
$color-f6f3: #f6f3e3;
$color-f3e4: #f3e4dc;
$color-0a47: #0a472e;
$color-e2e2: #e2e2e2;
$color-4141: #414141;
$color-4c68: #4c68a2;
$color-4285: #4285f4;
$color-53d1: #53d1f8;
$color-0a47:#0a472e;
$color-e4e4:#e4e4e4;
$color-aca:#acaaa6;
$color-0735: #073522;
$color-e0bf: #E0BF97;
$color-f4ed: #f4ed23;
$color-ebeb: #ebebeb;
$color-e0bf: #e0bf96;
$color-3c5a: #3c5a98;
$color-55ac: #55acee;
$color-cb20: #cb2027;
$color-00c: #0000001a;
$color-eb3: #eb3069;
